/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans&display=swap');
body{
    min-width: 1366px;
    max-width: 1920px;
    font-family:'Open Sans', sans-serif;
    font-size: 1.2rem; 
    line-height: 1.65;
    color: #393d41;
}

/* HEADINGS */
h1,h3,h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #25a2c3  ;
    
    
}
p{
    font-family:'Open Sans', sans-serif;
    font-size: 1.2rem; 
    line-height: 1.65;
    color: #393d41;
    
}


/* HEADER */
header{
    height: 150px;
    background-color: black;
    text-align: center;
}
.logo{
    padding-top: 50px;
}

/* MAIN */
main{
    display: block;
    text-align: center;
}


/* ELEMENTI NAV */
nav{ 
    display: block;
    height: 350px;
    background-image: url(/assets/images/banner.jpg);
    background-size:100%;
    text-align: center;
    padding-top:200px;
}
h1{
    font-size: 2em ;
    text-align: center;  
}
button{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    color: white;
    background-color:#f04c2f;
    height: 50px;
    width: 140px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
}
nav p{
    display: inline-block;
    align: center;
    width: 50%;
}
/* ELEMENTI ARTICLE - SECTION */
.tondo{
    margin-top: 50px;
    text-align: start;
    display: inline-block;
    margin-right:60px;
    width: 400px ;
    height: 400px;
    padding-top: 20px;
    border-radius: 300px;
}
.testimonianza{
    height: 300px;
    color: white;
    margin-top: 70px;
    margin-bottom: 60px;
    background-color: #e22d0e;
}
h2{
    display: block;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 1.9em;
    font-weight: 700;
    padding-top:60px;
    padding-bottom: 20px;

}
.testimonianza .oblique{
   color: white;
   font-style: oblique;
   font-size: 1.3em;
}
h4{
    padding-top: 30px;
}
.testimonianza p{
    color: white;
    font-size: 0.7em;
}

.box{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 400px;
    height: 450px;
    margin: 25px;
    border: 1px solid #dee1e3;
    box-shadow: -2px 0px 5px #dee1e3;

}
.box h5{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.9em;
    padding-top: 20px;

}
.box p{
    display: block;
    margin-bottom: 30px;
    font-size: 0.9em;
}
/* FOOTER */
footer{
    margin-top: 80px;
    height: 400px;
    text-align: center;
    background-color:rgb(71,150,189) ;
    color: white;
}
ul{
    text-align: start;
    list-style: none;
    opacity: 0.8;
    padding-bottom: 20px;
}
a{ 
    color: white;
}
hr{
    width: 300px;
}
footer p{
    padding-top: 20px;
    color: white;
    font-size: 0.9em;
    opacity: 0.8;
}
.fine{
    display: inline-block;
    width: 300px;
    text-align: center;
}
.fine h2{
    font-size: 3em ;
    width: 300px;
}